{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}gromari - {{ form.name.id_for_label }}{% endblock %}

{% block content%}

<h4>{{ form.name.id_for_label }}</h4>

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ roomForm|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Save</button>
        </div>
    </form>
</div>


{% endblock %}
