{% extends 'base.html' %}

{% load static from staticfiles %}

<!--Loads the humanize library to allow number formats to be human readable-->
{% load humanize %}

{% block title %}Predicto - Admin{% endblock %}

{% block head %}
    <!-- Custom styles for sidebar nav -->
    <link href="{% static 'css/admin_page-nav.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}
    <div class="sidenav navbar navbar-dark bg-dark flex-column rounded">
        <ul class="navbar-nav">
            <li><a class="nav-item nav-link" href="#stats">Stats</a></li>
            <li><a class="nav-item nav-link" href="#stocks">Stocks</a></li>
            <li><a class="nav-item nav-link" href="#celery">Celery</a></li>
            <li><a class="nav-item nav-link" href="/admin">Django Admin</a></li>
        </ul>
    </div>
    <div id="adminContainer" class="container-fluid">
        <div class="row" style="margin-right: 150px">
            <div id="stats" class="page-anchor col-md-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-header text-white" style="background-color:#009999;">Statistics</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="font-size:13px">
                            <h6 class="card-title">File Sizes</h6>
                            <li class="list-group-item">
                                <div id="fileSizeData" class="row justify-content-md-center">
                                    <div class="col-auto">
                                    Database: <span id="dbFileSize"><b>{{ dbFileSize }}</b></span>
                                    </div>
                                    <div class="col-auto">
                                    Celery Log: <span id="celeryLogFileSize"><b>{{ celeryLogFileSize }}</b></span>
                                    </div>
                                    <div class="col-auto">
                                    Predicto Log: <span id="predictoLogFileSize"><b>{{ predictoLogFileSize }}</b></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="stocks" class="page-anchor col-md-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-header text-white" style="background-color:#009999;">Stocks</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="font-size:13px">
                            <li class="list-group-item">
                                <table>
                                    <tr>
                                        <td width="160px">
                                            <button class="btn btn-primary btn-sm" name="createStocks" value="Create Stocks" id="createStocks" type="button">Create Stocks</button>
                                        </td>
                                        <td class="d-none d-md-block" style="padding: 0.5em">
                                            This gets an updated list of stocks from TSX and creates new entries in the DB for them.
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li class="list-group-item">
                                <table>
                                    <tr>
                                        <td width="160px">
                                            <button class="btn btn-primary btn-sm" name="createStockHistory" value="Create Stock History" id="createStockHistory" type="button">Create Stock History</button>
                                        </td>
                                        <td class="d-none d-md-block" style="padding: 0.5em">
                                            This will check the TSX for new sotck data and create new stock history entries in the DB.
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li class="list-group-item">
                                <table>
                                    <tr>
                                        <td width="160px">
                                            <button class="btn btn-primary btn-sm" name="cleanStocks" value="Clean Stocks" id="cleanStocks" type="button">Clean Stocks</button>
                                        </td>
                                        <td class="d-none d-md-block" style="padding: 0.5em">
                                            This will check stocks in the DB against those still listed on the TSX. Disables those that are not active on the TMX website.
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li class="list-group-item">
                                <table>
                                    <tr>
                                        <td width="160px">
                                            <button class="btn btn-primary btn-sm" name="predictStocks" value="Predict Stock" id="predictStocks" type="button">Predict Stock</button>
                                        </td>
                                        <td>
                                            <input type="text" name="stockSymbol" id="stockSymbol" value="TD" size="5">
                                        </td>
                                        <td class="d-none d-md-block" style="padding: 0.5em">
                                            This will run a prediction for the stock in the input box.
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="celery" class="page-anchor col-md-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-header text-white" style="background-color:#009999;">Celery</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="font-size:13px">
                            <h6 class="card-title">Tasks</h6>
                            <li class="list-group-item">
                                <div id="taskData" class="row justify-content-md-center">
                                    <div class="col-auto">
                                    Active Tasks: <span id="activeTasks"><b>{{ numActiveTasks }}</b></span>
                                    </div>
                                    <div class="col-auto">
                                    Scheduled Tasks: <span id="scheduledTasks"><b>{{ numScheduledTasks }}</b></span>
                                    </div>
                                    <div class="col-auto">
                                    Reserved Tasks: <span id="reservedTasks"><b>{{ numReservedTasks }}</b></span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <table>
                                    <tr>
                                        <td>
                                            <button class="btn btn-danger btn-sm" name="purgeTasks" value="Purge Task Queue" id="purgeTasks" type="button" data-toggle="modal" data-target="#modelPurgeTasks">Purge Task Queue</button>
                                        </td>
                                        <td class="d-none d-md-block" style="padding: 0.5em">
                                            <div>This will end all tasks in the queue. Tasks currently running will finish.</div>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Model celery purge tasks -->
    <div class="modal fade" id="modelPurgeTasks" tabindex="-1" role="dialog" aria-labelledby="modelPurgeTasksTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelPurgeTasksTitle">Purge Task Queue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to purge all tasks from the celery queue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="purgeTasksConfirm" type="button" class="btn btn-danger">Purge</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $("#createStocks").click(function() {
        $("#message").text("Creating Stocks");
        $("#message").fadeTo(2000, 500).slideUp(500, function(){
            $("#message").slideUp(500);
        });
        $.get("/stocks/createStocks", function(data) {});
    });

    $("#createStockHistory").click(function() {
        $("#message").text("Creating Stock History");
        $("#message").fadeTo(2000, 500).slideUp(500, function(){
            $("#message").slideUp(500);
        });
        $.get("/stocks/createStockHistory", function(data) {});
    });

    $("#cleanStocks").click(function() {
        $("#message").text("Cleaning Stocks");
        $("#message").fadeTo(2000, 500).slideUp(500, function(){
            $("#message").slideUp(500);
        });
        $.get("/stocks/cleanStocks", function(data) {});
    });

    $("#predictStocks").click(function() {
        var predictSymbol = $("#stockSymbol").val();
        $("#message").text("Predicting Stock " + predictSymbol);
        $("#message").fadeTo(2000, 500).slideUp(500, function(){
            $("#message").slideUp(500);
        });
        $.get("/stocks/predictStocks/" + predictSymbol, function(data) {});
    });

    $("#purgeTasksConfirm").click(function() {
        $("#message").text("Celery Tasks Purged");
        $("#message").fadeTo(2000, 500).slideUp(500, function(){
            $("#message").slideUp(500);
        });
        $.get("/admin_page/purge", function(data) {});
        $('#modelPurgeTasks').modal('hide');
    });
    </script>

    <script type="text/javascript">
    $( document ).ready(function() {
        function callAjax(){
            $("#activeTasks").load(window.location.href + " #activeTasks");
            $("#scheduledTasks").load(window.location.href + " #scheduledTasks");
            $("#reservedTasks").load(window.location.href + " #reservedTasks");
        }
        setInterval(callAjax, 5000);
    });
    </script>
{% endblock %}
