{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="gromari stock analysis app">
        <meta name="author" content="Randy Olive">
        <link rel="icon" href="{% static 'favicon.ico' %}">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for the navbar template -->
        <link href="{% static 'css/navbar-top.css' %}" rel="stylesheet">

        <!-- Google API for use of the Roboto font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- Custom styles for fonts -->
        <link href="{% static 'css/fonts.css' %}" rel="stylesheet">

        <!-- Load jquery here to be used by extended templates -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="nav" class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top">
            <a class="navbar-brand" href="/"><img src="{% static 'img/icon-circle-white.png' %}" height="30"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if nbar == 'home' %}active{% endif %}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {% if nbar == 'stocks' %}active{% endif %}">
                        <a class="nav-link" href="/rooms">Grow Rooms</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="nav-item {% if nbar == 'profile' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                    </li>
                    <li class="nav-item {% if nbar == 'admin' %}active{% endif %}">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper container-fluid" style="position: absolute; top: 70px;">
            <div id="message" class="alert alert-info collapse" role="alert"></div>
            {% block content %}
            {% endblock %}
        </div>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript">window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
